IBIS-IP_JourneyInformationService_V1.0.xsd

<?xml version="1.0"?>
<!-- Mit XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) von Dirk Weißer (INIT GmbH) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="IBIS-IP_common_V1.0.xsd"/>
	<xs:include schemaLocation="IBIS-IP_Enumerations_V1.0.xsd"/>
	<!--==== Structure Definitions ====-->
	<xs:complexType name="JourneyInformationService.GetAllDataResponseStructure">
		<xs:choice>
			<xs:element name="AllData" type="JourneyInformationService.DataContent"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.DataContent">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="BlockRef" type="IBIS-IP.NMTOKEN" minOccurs="0"/>
			<xs:element name="CurrentTripIndex" type="IBIS-IP.int" minOccurs="0"/>
			<xs:element name="TripSequence" type="TripSequenceStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.GetCurrentBlockRefResponseStructure">
		<xs:choice>
			<xs:element name="CurrentBlockRefData" type="JourneyInformationService.CurrentBlockRefData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.CurrentBlockRefData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="CurrentBlockRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<!--==== RetrieveOperation Definitions ====-->
	<!--++ PartialTripSequence ++-->
	<xs:complexType name="JourneyInformationService.RetrievePartialTripSequenceRequestStructure">
		<xs:sequence>
			<xs:element name="StartingTripIndex" type="IBIS-IP.int"/>
			<xs:element name="NumberOfTrips" type="IBIS-IP.int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.RetrievePartialTripSequenceResponseStructure">
		<xs:choice>
			<xs:element name="PartialTripSequenceData" type="JourneyInformationService.PartialTripSequenceData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.PartialTripSequenceData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="TripSequence" type="TripSequenceStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ SpecificBlock ++-->
	<xs:complexType name="JourneyInformationService.RetrieveSpecificBlockInformationRequestStructure">
		<xs:sequence>
			<xs:element name="BlockRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificBlockInformationResponseStructure">
		<xs:choice>
			<xs:element name="SpecificBlockInformationData" type="JourneyInformationService.DataContent"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<!--++ SpecificStop ++-->
	<xs:complexType name="JourneyInformationService.RetrieveSpecificStopInformationRequestStructure">
		<xs:sequence>
			<xs:element name="StopRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificStopInformationResponseStructure">
		<xs:choice>
			<xs:element name="SpecificStopInformationData" type="JourneyInformationService.SpecificStopInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.SpecificStopInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="JourneyStopInformation" type="JourneyStopInformationStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ SpecificTSPPoint ++-->
	<xs:complexType name="JourneyInformationService.RetrieveSpecificTSPPointInformationRequestStructure">
		<xs:sequence>
			<xs:element name="TSPPointRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificTSPPointInformationResponseStructure">
		<xs:choice>
			<xs:element name="SpecificTSPPointInformationData" type="JourneyInformationService.SpecificTSPPointInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.SpecificTSPPointInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="TSPPoint" type="TSPPointStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ SpecificTimingPoint ++-->
	<xs:complexType name="JourneyInformationService.RetrieveSpecificTimingPointInformationRequestStructure">
		<xs:sequence>
			<xs:element name="TimingPointRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificTimingPointInformationResponseStructure">
		<xs:choice>
			<xs:element name="SpecificTimingPointInformationData" type="JourneyInformationService.SpecificTimingPointInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.SpecificTimingPointInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="TimingPoint" type="TimingPointStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ SpecificGNSSPoint ++-->
	<xs:complexType name="JourneyInformationService.RetrieveSpecificGNSSPointInformationRequestStructure">
		<xs:sequence>
			<xs:element name="GNSSPointRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificGNSSPointInformationResponseStructure">
		<xs:choice>
			<xs:element name="SpecificGNSSPointInformation" type="JourneyInformationService.SpecificGNSSPointInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.SpecificGNSSPointInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="GNSSPoint" type="GNSSPointStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ SpecificBeaconPoint ++-->
	<xs:complexType name="JourneyInformationService.RetrieveSpecificBeaconPointInformationRequestStructure">
		<xs:sequence>
			<xs:element name="BeaconRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificBeaconPointInformationResponseStructure">
		<xs:choice>
			<xs:element name="SpecificBeaconPointInformationData" type="JourneyInformationService.SpecificBeaconPointInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.SpecificBeaconPointInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="BeaconPoint" type="BeaconPointStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ AllDisplayContents ++-->
	<xs:complexType name="JourneyInformationService.ListAllDisplayContentsResponseStructure">
		<xs:choice>
			<xs:element name="AllDisplayContentsData" type="JourneyInformationService.AllDisplayContentsData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.AllDisplayContentsData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="DisplayContent" type="DisplayContentStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ AllLineInformation ++-->
	<xs:complexType name="JourneyInformationService.ListAllLineInformationResponseStructure">
		<xs:choice>
			<xs:element name="AllLineInformationData" type="JourneyInformationService.AllLineInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.AllLineInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="LineInformation" type="LineInformationStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ AllDestinationInformation ++-->
	<xs:complexType name="JourneyInformationService.ListAllDestinationInformationResponseStructure">
		<xs:choice>
			<xs:element name="AllDestinationInformationData" type="JourneyInformationService.AllDestinationInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.AllDestinationInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="Destination" type="DestinationStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ AllViaPoint ++-->
	<xs:complexType name="JourneyInformationService.ListAllViaPointResponseStructure">
		<xs:choice>
			<xs:element name="AllViaPointData" type="JourneyInformationService.AllViaPointData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.AllViaPointData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="ViaPoint" type="ViaPointStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ AllAdditionalDisplayInformation ++-->
	<xs:complexType name="JourneyInformationService.ListAllAdditionalDisplayInformationResponseStructure">
		<xs:choice>
			<xs:element name="AllAdditionalDisplayInformation" type="JourneyInformationService.AllAdditionalDisplayInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.AllAdditionalDisplayInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="AdditionalDisplayInformation" type="InternationalTextType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ AllTrips ++-->
	<xs:complexType name="JourneyInformationService.ListAllRoutesResponseStructure">
		<xs:choice>
			<xs:element name="AllRouteData" type="JourneyInformationService.AllRoutesData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.AllRoutesData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="Route" type="TripInformationStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ AllTripsPerLine ++-->
	<xs:complexType name="JourneyInformationService.RetrieveAllRoutesPerLineRequestStructure">
		<xs:sequence>
			<xs:element name="LineRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<!--==== Definition of SetData-Operations ====-->
	<!--++ BlockNumber ++-->
	<xs:complexType name="JourneyInformationService.SetBlockNumberRequestStructure">
		<xs:sequence>
			<xs:element name="BlockRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ TripRef ++-->
	<xs:complexType name="JourneyInformationService.SetTripRefRequestStructure">
		<xs:sequence>
			<xs:element name="TripRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ DisplayContent-->
	<xs:complexType name="JourneyInformationService.SetDisplayContentRequestStructure">
		<xs:sequence>
			<xs:element name="DisplayContent" type="DisplayContentStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ CurrentTripIndex ++-->
	<xs:complexType name="JourneyInformationService.SetCurrentTripIndexRequestStructure">
		<xs:sequence>
			<xs:element name="CurrentTripIndex" type="IBIS-IP.int"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ CurrentStopIndex ++-->
	<xs:complexType name="JourneyInformationService.SetCurrentStopIndexRequestStructure">
		<xs:sequence>
			<xs:element name="CurrentStopIndex" type="IBIS-IP.int"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ AdditionalAnnouncement ++-->
	<xs:complexType name="JourneyInformationService.SetAdditionalAnnouncementRequestStructure">
		<xs:sequence>
			<xs:element name="AdditionalAnnouncement" type="AdditionalAnnouncementStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ AdditionalTextmessage ++-->
	<xs:complexType name="JourneyInformationService.SetAdditionalTextMessageRequestStructure">
		<xs:sequence>
			<xs:element name="AdditionalTextMessage" type="IBIS-IP.string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
