IBIS-IP_DeviceManagementService_V2.2.xsd

<?xml version="1.0"?>
<!-- Mit XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) von Dirk Weißer (INIT GmbH) bearbeitet -->
<!--  IVU Traffic Technologies AG, Carsten Weise -->
<!-- Mit XMLSpy v2018 rel. 2  (http://www.altova.com) von Bernd Schubert (iris-GmbH) bearbeitet, IBIS-IP 2.1 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="IBIS-IP_common_V2.2.xsd"/>
	<xs:include schemaLocation="IBIS-IP_Enumerations_V2.2.xsd"/>
	<!--==== DeviceManagementService Operations====-->
	<xs:group name="DeviceManagementServiceGroup">
		<xs:sequence>
			<xs:element name="DeviceManagementService.GetDeviceInformationRequest"/>
			<xs:element name="DeviceManagementService.GetDeviceInformationResponse" type="DeviceManagementService.GetDeviceInformationResponseStructure"/>
			<xs:element name="DeviceManagementService.SubscribeDeviceInformationRequest" type="SubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.SubscribeDeviceInformationResponse" type="SubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeDeviceInformationRequest" type="UnsubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeDeviceInformationResponse" type="UnsubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.GetAllSubdeviceInformationRequest"/>
			<xs:element name="DeviceManagementService.GetAllSubdeviceInformationResponse" type="DeviceManagementService.GetAllSubdeviceInformationResponseStructure"/>
			<xs:element name="DeviceManagementService.SubscribeAllSubdeviceInformationRequest" type="SubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.SubscribeAllSubdeviceInformationResponse" type="SubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeAllSubdeviceInformationRequest" type="UnsubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeAllSubdeviceInformationResponse" type="UnsubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.GetDeviceConfigurationRequest"/>
			<xs:element name="DeviceManagementService.GetDeviceConfigurationResponse" type="DeviceManagementService.GetDeviceConfigurationResponseStructure"/>
			<xs:element name="DeviceManagementService.GetDeviceStatusRequest"/>
			<xs:element name="DeviceManagementService.GetDeviceStatusResponse" type="DeviceManagementService.GetDeviceStatusResponseStructure"/>
			<xs:element name="DeviceManagementService.SubscribeDeviceStatusRequest" type="SubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.SubscribeDeviceStatusResponse" type="SubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeDeviceStatusRequest" type="UnsubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeDeviceStatusResponse" type="UnsubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.GetDeviceStatusInformationRequest"/>
			<xs:element name="DeviceManagementService.GetDeviceStatusInformationResponse" type="DeviceManagementService.GetDeviceStatusInformationResponseStructure"/>
			<xs:element name="DeviceManagementService.SubscribeDeviceStatusInformationRequest" type="SubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.SubscribeDeviceStatusInformationResponse" type="SubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeDeviceStatusInformationRequest" type="UnsubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeDeviceStatusInformationResponse" type="UnsubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.GetAllSubdeviceStatusInformationRequest"/>
			<xs:element name="DeviceManagementService.GetAllSubdeviceStatusInformationResponse" type="DeviceManagementService.GetAllSubdeviceStatusInformationResponseStructure"/>
			<xs:element name="DeviceManagementService.SubscribeAllSubdeviceStatusInformationRequest" type="SubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.SubscribeAllSubdeviceStatusInformationResponse" type="SubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeAllSubdeviceStatusInformationRequest" type="UnsubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeAllSubdeviceStatusInformationResponse" type="UnsubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.GetDeviceErrorMessagesRequest"/>
			<xs:element name="DeviceManagementService.GetDeviceErrorMessagesResponse" type="DeviceManagementService.GetDeviceErrorMessagesResponseStructure"/>
			<xs:element name="DeviceManagementService.SubscribeDeviceErrorMessagesRequest" type="SubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.SubscribeDeviceErrorMessagesResponse" type="SubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeDeviceErrorMessagesRequest" type="UnsubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeDeviceErrorMessagesResponse" type="UnsubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.GetAllSubdeviceErrorMessagesRequest"/>
			<xs:element name="DeviceManagementService.GetAllSubdeviceErrorMessagesResponse" type="DeviceManagementService.GetAllSubdeviceErrorMessagesResponseStructure"/>
			<xs:element name="DeviceManagementService.SubscribeAllSubdeviceErrorMessagesRequest" type="SubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.SubscribeAllSubdeviceErrorMessagesResponse" type="SubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeAllSubdeviceErrorMessagesRequest" type="UnsubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeAllSubdeviceErrorMessagesResponse" type="UnsubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.GetServiceInformationRequest"/>
			<xs:element name="DeviceManagementService.GetServiceInformationResponse" type="DeviceManagementService.GetServiceInformationResponseStructure"/>
			<xs:element name="DeviceManagementService.SubscribeServiceInformationRequest" type="SubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.SubscribeServiceInformationResponse" type="SubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeServiceInformationRequest" type="UnsubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeServiceInformationResponse" type="UnsubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.GetServiceStatusRequest"/>
			<xs:element name="DeviceManagementService.GetServiceStatusResponse" type="DeviceManagementService.GetServiceStatusResponseStructure"/>
			<xs:element name="DeviceManagementService.SubscribeServiceStatusRequest" type="SubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.SubscribeServiceStatusResponse" type="SubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeServiceStatusRequest" type="UnsubscribeRequestStructure"/>
			<xs:element name="DeviceManagementService.UnsubscribeServiceStatusResponse" type="UnsubscribeResponseStructure"/>
			<xs:element name="DeviceManagementService.RestartDeviceRequest"/>
			<xs:element name="DeviceManagementService.RestartDeviceResponse" type="DataAcceptedResponseStructure"/>
			<xs:element name="DeviceManagementService.InstallUpdateRequest" type="DeviceManagementService.InstallUpdateRequestStructure"/>
			<xs:element name="DeviceManagementService.InstallUpdateResponse" type="DeviceManagementService.InstallUpdateResponseStructure"/>
			<xs:element name="DeviceManagementService.RetrieveUpdateStateRequest" type="DeviceManagementService.RetrieveUpdateStateRequestStructure"/>
			<xs:element name="DeviceManagementService.RetrieveUpdateStateResponse" type="DeviceManagementService.RetrieveUpdateStateResponseStructure"/>
			<xs:element name="DeviceManagementService.GetUpdateHistoryRequest"/>
			<xs:element name="DeviceManagementService.GetUpdateHistoryResponse" type="DeviceManagementService.GetUpdateHistoryResponseStructure"/>
			<xs:element name="DeviceManagementService.FinalizeUpdateRequest" type="DeviceManagementService.FinalizeUpdateRequestStructure"/>
			<xs:element name="DeviceManagementService.FinalizeUpdateResponse" type="DeviceManagementService.FinalizeUpdateResponseStructure"/>
			<xs:element name="DeviceManagementService.FinalizeAllPendingUpdatesRequest"/>
			<xs:element name="DeviceManagementService.FinalizeAllPendingUpdatesResponse" type="DataAcceptedResponseStructure"/>
		</xs:sequence>
	</xs:group>
	<!--==== Service Definitions ====-->
	<!--++ GetDeviceInformation ++-->
	<xs:element name="DeviceManagementService.GetDeviceInformationResponse" type="DeviceManagementService.GetDeviceInformationResponseStructure"/>
	<xs:complexType name="DeviceManagementService.GetDeviceInformationResponseStructure">
		<xs:choice>
			<xs:element name="DeviceManagementService.GetDeviceInformationResponseData" type="DeviceManagementService.GetDeviceInformationResponseDataStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.GetDeviceInformationResponseDataStructure">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="DeviceInformation" type="DeviceInformationStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ GetAllSubdeviceInformation ++-->
	<xs:element name="DeviceManagementService.GetAllSubdeviceInformationResponse" type="DeviceManagementService.GetAllSubdeviceInformationResponseStructure"/>
	<xs:complexType name="DeviceManagementService.GetAllSubdeviceInformationResponseStructure">
		<xs:choice>
			<xs:element name="DeviceManagementService.GetAllSubdeviceInformationResponseData" type="DeviceManagementService.GetAllSubdeviceInformationResponseDataStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.GetAllSubdeviceInformationResponseDataStructure">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="SubdeviceInformationList" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubdeviceInformation" type="SubdeviceInformationStructure" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--++ GetDeviceConfiguration ++-->
	<xs:element name="DeviceManagementService.GetDeviceConfigurationResponse" type="DeviceManagementService.GetDeviceConfigurationResponseStructure"/>
	<xs:complexType name="DeviceManagementService.GetDeviceConfigurationResponseStructure">
		<xs:choice>
			<xs:element name="DeviceManagementService.GetDeviceConfigurationResponseData" type="DeviceManagementService.GetDeviceConfigurationResponseDataStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.GetDeviceConfigurationResponseDataStructure">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="DeviceID" type="IBIS-IP.int"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ GetDeviceStatus ++-->
	<xs:element name="DeviceManagementService.GetDeviceStatusResponse" type="DeviceManagementService.GetDeviceStatusResponseStructure"/>
	<xs:complexType name="DeviceManagementService.GetDeviceStatusResponseStructure">
		<xs:choice>
			<xs:element name="DeviceManagementService.GetDeviceStatusResponseData" type="DeviceManagementService.GetDeviceStatusResponseDataStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.GetDeviceStatusResponseDataStructure">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="DeviceState" type="DeviceStateEnumeration"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ GetDeviceStatusInformation ++-->
	<xs:element name="DeviceManagementService.GetDeviceStatusInformationResponse" type="DeviceManagementService.GetDeviceStatusInformationResponseStructure"/>
	<xs:complexType name="DeviceManagementService.GetDeviceStatusInformationResponseStructure">
		<xs:choice>
			<xs:element name="DeviceManagementService.GetDeviceStatusInformationResponseData" type="DeviceManagementService.GetDeviceStatusInformationResponseDataStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.GetDeviceStatusInformationResponseDataStructure">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="DeviceStatusInformation" type="DeviceStatusInformationStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ GetAllSubdeviceStatusInformation ++-->
	<xs:element name="DeviceManagementService.GetAllSubdeviceStatusInformationResponse" type="DeviceManagementService.GetAllSubdeviceStatusInformationResponseStructure"/>
	<xs:complexType name="DeviceManagementService.GetAllSubdeviceStatusInformationResponseStructure">
		<xs:choice>
			<xs:element name="DeviceManagementService.GetAllSubdeviceStatusInformationResponseData" type="DeviceManagementService.GetAllSubdeviceStatusInformationResponseDataStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.GetAllSubdeviceStatusInformationResponseDataStructure">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="SubdeviceStatusInformationList" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubdeviceStatusInformation" type="SubdeviceStatusInformationStructure" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--++ GetDeviceErrorMessages ++-->
	<xs:element name="DeviceManagementService.GetDeviceErrorMessagesResponse" type="DeviceManagementService.GetDeviceErrorMessagesResponseStructure"/>
	<xs:complexType name="DeviceManagementService.GetDeviceErrorMessagesResponseStructure">
		<xs:choice>
			<xs:element name="DeviceManagementService.GetDeviceErrorMessagesResponseData" type="DeviceManagementService.GetDeviceErrorMessagesResponseDataStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.GetDeviceErrorMessagesResponseDataStructure">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="ErrorMessage" type="MessageStructure" minOccurs="10" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Warnings and errors only, no state messages</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--++ GetAllSubdeviceErrorMessages ++-->
	<xs:element name="DeviceManagementService.GetAllSubdeviceErrorMessagesResponse" type="DeviceManagementService.GetAllSubdeviceErrorMessagesResponseStructure"/>
	<xs:complexType name="DeviceManagementService.GetAllSubdeviceErrorMessagesResponseStructure">
		<xs:choice>
			<xs:element name="DeviceManagementService.GetAllSubdeviceErrorMessagesResponseData" type="DeviceManagementService.GetAllSubdeviceErrorMessagesResponseDataStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.GetAllSubdeviceErrorMessagesResponseDataStructure">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="SubdeviceErrorMessagesList" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubdeviceErrorMessages" type="SubdeviceErrorMessagesStructure" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--++ GetServiceInformation ++-->
	<xs:element name="DeviceManagementService.GetServiceInformationResponse" type="DeviceManagementService.GetServiceInformationResponseStructure"/>
	<xs:complexType name="DeviceManagementService.GetServiceInformationResponseStructure">
		<xs:choice>
			<xs:element name="DeviceManagementService.GetServiceInformationResponseData" type="DeviceManagementService.GetServiceInformationResponseDataStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.GetServiceInformationResponseDataStructure">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="ServiceInformationList" type="ServiceInformationListStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ GetServiceStatus ++-->
	<xs:element name="DeviceManagementService.GetServiceStatusResponse" type="DeviceManagementService.GetServiceStatusResponseStructure"/>
	<xs:complexType name="DeviceManagementService.GetServiceStatusResponseStructure">
		<xs:choice>
			<xs:element name="DeviceManagementService.GetServiceStatusResponseData" type="DeviceManagementService.GetServiceStatusResponseDataStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.GetServiceStatusResponseDataStructure">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="ServiceSpecificationWithStateList" type="ServiceSpecificationWithStateListStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ RestartDevice ++-->
	<xs:element name="DeviceManagementService.RestartDeviceResponse" type="DataAcceptedResponseStructure"/>
	<!--++ InstallUpdate ++-->
	<xs:complexType name="DeviceManagementService.InstallUpdateRequestStructure">
		<xs:sequence>
			<xs:element name="UpdateID" type="IBIS-IP.NMTOKEN">
				<xs:annotation><xs:documentation>Unique id generated by the controller to identify an update job</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="UpdateTimestamp" type="IBIS-IP.dateTime">
				<xs:annotation><xs:documentation>Timestamp used for GetUpdateHistory and RetrieveUpdateState responses and for logging</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="UpdateURL" type="IBIS-IP.anyURI">
				<xs:annotation><xs:documentation>URL from which the device shall download the update file</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="UpdateFileChecksum" type="ChecksumStructure" minOccurs="0">
				<xs:annotation><xs:documentation>Optional checksum of update file</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="UpdateFileSize" type="IBIS-IP.unsignedLong" minOccurs="0">
				<xs:annotation><xs:documentation>Optional size of update file</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.InstallUpdateResponseStructure">
		<xs:choice>
			<xs:element name="UpdateAccept" type="UpdateAcceptEnumeration"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<!--++ RetrieveUpdateState ++-->
	<xs:complexType name="DeviceManagementService.RetrieveUpdateStateRequestStructure">
		<xs:sequence>
			<xs:element name="UpdateID" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.RetrieveUpdateStateResponseStructure">
		<xs:choice>
			<xs:element name="UpdateStateData" type="DeviceManagementService.UpdateStateDataStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.UpdateStateDataStructure">
		<xs:sequence>
			<xs:element name="UpdateID" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="UpdateTimestamp" type="IBIS-IP.dateTime">
				<xs:annotation><xs:documentation>Timestamp given by operation InstallUpdate</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="UpdateStatus" type="UpdateStatusEnumeration">
				<xs:annotation><xs:documentation>Current status of update</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="UpdateDetails" type="IBIS-IP.string" minOccurs="0">
				<xs:annotation><xs:documentation>Optional device specific update log</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--++ GetUpdateHistory ++-->
	<xs:complexType name="DeviceManagementService.GetUpdateHistoryResponseStructure">
		<xs:choice>
			<xs:element name="UpdateHistory" type="DeviceManagementService.UpdateHistoryStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.UpdateHistoryStructure">
		<xs:sequence>
			<xs:element name="UpdateHistoryEntry" type="DeviceManagementService.UpdateHistoryEntryStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>Minimum requirement for any device allowing updates is an update history depth of 1, 
					i.e. history shall contain at least the last update performed (regardless of its result), if there was any.</xs:documentation></xs:annotation> 
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.UpdateHistoryEntryStructure">
		<xs:sequence>
			<xs:element name="UpdateID" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="UpdateTimestamp" type="IBIS-IP.dateTime">
				<xs:annotation><xs:documentation>Timestamp given by operation InstallUpdate</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="UpdateURL" type="IBIS-IP.anyURI">
				<xs:annotation><xs:documentation>URL from which the device downloaded the update file</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="UpdateStatus" type="UpdateStatusEnumeration">
				<xs:annotation><xs:documentation>Status of update. Typically final status (InstallationSuccessfull or InstallationFailed)</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="DataVersionList" type="DataVersionListStructure" minOccurs="0">
				<xs:annotation><xs:documentation>Optional list of updated components</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="UpdateDetails" type="IBIS-IP.string" minOccurs="0">
				<xs:annotation><xs:documentation>Optional device specific update log</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--++ FinalizeUpdate ++-->
	<xs:complexType name="DeviceManagementService.FinalizeUpdateRequestStructure">
		<xs:sequence>
			<xs:element name="UpdateID" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceManagementService.FinalizeUpdateResponseStructure">
		<xs:choice>
			<xs:element name="UpdateStatus" type="UpdateStatusEnumeration">
				<xs:annotation><xs:documentation>Status of update on its finalization</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>	
	<!--++ FinalizeAllPendingUpdates ++-->
	<xs:element name="DeviceManagementService.FinalizeAllPendingUpdatesResponse" type="DataAcceptedResponseStructure"/>
	<!--++ Enumerations ++-->
	<xs:simpleType name="ChecksumTypeEnumeration">
		<xs:annotation>
			<xs:documentation>Types of checksum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRC32"><xs:annotation><xs:documentation>Cyclic redundancy check, 32-bit</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="MD5"><xs:annotation><xs:documentation>Message digest algorithm 5, 128-bit</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="SHA256"><xs:annotation><xs:documentation>Secure hash algorithm, 256-bit</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpdateAcceptEnumeration">
		<xs:annotation>
			<xs:documentation>Information about the result of InstallUpdate</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="UpdateAccepted"><xs:annotation><xs:documentation>Update will be performed</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="URLTypeUnknown"><xs:annotation><xs:documentation>URL type has been rejected, e.g. FTP may not supported by some devices</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NoUpdatesAllowed"><xs:annotation><xs:documentation>No updates are possible</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="ToBePostponed"><xs:annotation><xs:documentation>Update has to be postponed</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpdateStatusEnumeration">
		<xs:annotation>
			<xs:documentation>Information about the current status of update</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="UpdateRunning"><xs:annotation><xs:documentation>Update in progress</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="DeviceRestartRequired"><xs:annotation><xs:documentation>Device has to be restarted by operation RestartDevice</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="DownloadUpdateFileFailed"><xs:annotation><xs:documentation>Specified update file could not be downloaded from URL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="UpdateFileCorrupted"><xs:annotation><xs:documentation>Specified update file is not usable</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="UpdateNotNecessary"><xs:annotation><xs:documentation>State of device firmware already as required</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="InstallationFailed"><xs:annotation><xs:documentation>Update failed e.g. due to memory write error</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="InstallationSuccessful"><xs:annotation><xs:documentation>Update successfully completed</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!--++ Structures ++-->
	<xs:complexType name="SubdeviceInformationStructure">
		<xs:annotation>
			<xs:documentation>Information on named subdevice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubdeviceName" type="IBIS-IP.string">
				<xs:annotation>
					<xs:documentation>Used to identify subdevice</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceInformation" type="DeviceInformationStructure">
				<xs:annotation>
					<xs:documentation>Information on subdevice</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceStatusStructure">
		<xs:sequence>
			<xs:element name="DeviceStatusName" type="IBIS-IP.string"/>
			<xs:element name="DeviceStatusFlag" type="IBIS-IP.boolean"/>
			<xs:element name="DeviceStatusImpact" type="DeviceStateEnumeration"> </xs:element>
			<xs:element name="DeviceStatusPriority" type="IBIS-IP.int"></xs:element>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceStatusInformationStructure">
		<xs:sequence>
			<xs:element name="DeviceState" type="DeviceStateEnumeration"/>
			<xs:element name="DeviceStatusList" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DeviceStatus" type="DeviceStatusStructure" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubdeviceStatusInformationStructure">
		<xs:annotation>
			<xs:documentation>Status information of named subdevice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubdeviceName" type="IBIS-IP.string">
				<xs:annotation>
					<xs:documentation>Used to identify subdevice</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceStatusInformation" type="DeviceStatusInformationStructure">
				<xs:annotation>
					<xs:documentation>Status information of subdevice</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubdeviceErrorMessagesStructure">
		<xs:annotation>
			<xs:documentation>Error messages of named subdevice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubdeviceName" type="IBIS-IP.string">
				<xs:annotation>
					<xs:documentation>Used to identify subdevice</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorMessage" type="MessageStructure" minOccurs="10" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Warnings and errors only, no state messages</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChecksumStructure">
		<xs:sequence>
			<xs:element name="ChecksumType" type="ChecksumTypeEnumeration"/>
			<xs:element name="Checksum" type="IBIS-IP.byte" minOccurs="4" maxOccurs="32"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
