IBIS-IP_JourneyInformationService_V1.0.xsd

<?xml version="1.0"?>
<!-- Mit XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) von Dirk Weißer (INIT GmbH) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="IBIS-IP_common_V1.0.xsd"/>
	<xs:include schemaLocation="IBIS-IP_Enumerations_V1.0.xsd"/>
	<!--==== JourneyInformationService Operations ====-->
	<xs:group name="JourneyInformationServiceGroup">
		<xs:sequence>
			<xs:element name="JourneyInformationService.GetAllDataResponse" type="JourneyInformationService.GetAllDataResponseStructure"/>
			<xs:element name="JourneyInformationService.GetCurrentBlockRefResponse" type="JourneyInformationService.GetCurrentBlockRefResponseStructure"/>
			<xs:element name="JourneyInformationService.RetrievePartialTripSequenceRequest" type="JourneyInformationService.RetrievePartialTripSequenceRequestStructure"/>
			<xs:element name="JourneyInformationService.RetrievePartialTripSequenceResponse" type="JourneyInformationService.RetrievePartialTripSequenceResponseStructure"/>
			<xs:element name="JourneyInformationService.RetrieveSpecificBlockInformationRequest" type="JourneyInformationService.RetrieveSpecificBlockInformationRequestStructure"/>
			<xs:element name="JourneyInformationService.RetrieveSpecificBlockInformationResponse" type="JourneyInformationService.RetrieveSpecificBlockInformationResponseStructure"/>
			<xs:element name="JourneyInformationService.RetrieveSpecificStopInformationRequest" type="JourneyInformationService.RetrieveSpecificStopInformationRequestStructure"/>
			<xs:element name="JourneyInformationService.RetrieveSpecificStopInformationResponse" type="JourneyInformationService.RetrieveSpecificStopInformationResponseStructure"/>
			<xs:element name="JourneyInformationService.RetrieveSpecificTSPPointInformationRequest" type="JourneyInformationService.RetrieveSpecificTSPPointInformationRequestStructure"/>
			<xs:element name="JourneyInformationService.RetrieveSpecificTSPPointInformationResponse" type="JourneyInformationService.RetrieveSpecificTSPPointInformationResponseStructure"/>
			<xs:element name="JourneyInformationService.RetrieveSpecificTimingPointInformationRequest" type="JourneyInformationService.RetrieveSpecificTimingPointInformationRequestStructure"/>
			<xs:element name="JourneyInformationService.RetrieveSpecificTimingPointInformationResponse" type="JourneyInformationService.RetrieveSpecificTimingPointInformationResponseStructure"/>
			<xs:element name="JourneyInformationService.RetrieveSpecificGNSSPointInformationRequest" type="JourneyInformationService.RetrieveSpecificGNSSPointInformationRequestStructure"/>
			<xs:element name="JourneyInformationService.RetrieveSpecificGNSSPointInformationResponse" type="JourneyInformationService.RetrieveSpecificGNSSPointInformationResponseStructure"/>
			<xs:element name="JourneyInformationService.RetrieveSpecificBeaconPointInformationRequest" type="JourneyInformationService.RetrieveSpecificBeaconPointInformationRequestStructure"/>
			<xs:element name="JourneyInformationService.RetrieveSpecificBeaconPointInformationResponse" type="JourneyInformationService.RetrieveSpecificBeaconPointInformationResponseStructure"/>
			<xs:element name="JourneyInformationService.ListAllDisplayContentsResponse" type="JourneyInformationService.ListAllDisplayContentsResponseStructure"/>
			<xs:element name="JourneyInformationService.ListAllLineInformationResponse" type="JourneyInformationService.ListAllLineInformationResponseStructure"/>
			<xs:element name="JourneyInformationService.ListAllDestinationInformationResponse" type="JourneyInformationService.ListAllDestinationInformationResponseStructure"/>
			<xs:element name="JourneyInformationService.ListAllViaPointResponse" type="JourneyInformationService.ListAllViaPointResponseStructure"/>
			<xs:element name="JourneyInformationService.ListAllAdditionalDisplayInformationResponse" type="JourneyInformationService.ListAllAdditionalDisplayInformationResponseStructure"/>
			<xs:element name="JourneyInformationService.ListAllRoutesResponse" type="JourneyInformationService.ListAllRoutesResponseStructure"/>
			<xs:element name="JourneyInformationService.RetrieveAllRoutesPerLineRequest" type="JourneyInformationService.RetrieveAllRoutesPerLineRequestStructure"/>
			<xs:element name="JourneyInformationService.RetrieveAllRoutesPerLineResponse" type="JourneyInformationService.ListAllRoutesResponseStructure"/>
			<xs:element name="JourneyInformationService.SetBlockNumberRequest" type="JourneyInformationService.SetBlockNumberRequestStructure"/>
			<xs:element name="JourneyInformationService.SetTripRefRequest" type="JourneyInformationService.SetTripRefRequestStructure"/>
			<xs:element name="JourneyInformationService.SetDisplayContentRequest" type="JourneyInformationService.SetDisplayContentRequestStructure"/>
			<xs:element name="JourneyInformationService.SetCurrentTripIndexRequest" type="JourneyInformationService.SetCurrentTripIndexRequestStructure"/>
			<xs:element name="JourneyInformationService.SetCurrentStopIndexRequest" type="JourneyInformationService.SetCurrentStopIndexRequestStructure"/>
			<xs:element name="JourneyInformationService.SetAdditionalAnnouncementRequest" type="JourneyInformationService.SetAdditionalAnnouncementRequestStructure"/>
			<xs:element name="JourneyInformationService.SetAdditionalTextMessageRequest" type="JourneyInformationService.SetAdditionalTextMessageRequestStructure"/>
		</xs:sequence>
	</xs:group>
	<!--==== Structure Definitions ====-->
	<!--++ GetAllData ++-->
	<xs:element name="JourneyInformationService.GetAllDataResponse" type="JourneyInformationService.GetAllDataResponseStructure"/>
	<xs:complexType name="JourneyInformationService.GetAllDataResponseStructure">
		<xs:choice>
			<xs:element name="AllData" type="JourneyInformationService.DataContent"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.DataContent">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="BlockRef" type="IBIS-IP.NMTOKEN" minOccurs="0"/>
			<xs:element name="CurrentTripIndex" type="IBIS-IP.int" minOccurs="0"/>
			<xs:element name="TripSequence" type="TripSequenceStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ GetCurrentBlock ++-->
	<xs:element name="JourneyInformationService.GetCurrentBlockRefResponse" type="JourneyInformationService.GetCurrentBlockRefResponseStructure"/>
	<xs:complexType name="JourneyInformationService.GetCurrentBlockRefResponseStructure">
		<xs:choice>
			<xs:element name="CurrentBlockRefData" type="JourneyInformationService.CurrentBlockRefData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.CurrentBlockRefData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="CurrentBlockRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ RetrievePartialTripSequence ++-->
	<xs:element name="JourneyInformationService.RetrievePartialTripSequenceRequest" type="JourneyInformationService.RetrievePartialTripSequenceRequestStructure"/>
	<xs:complexType name="JourneyInformationService.RetrievePartialTripSequenceRequestStructure">
		<xs:sequence>
			<xs:element name="StartingTripIndex" type="IBIS-IP.int"/>
			<xs:element name="NumberOfTrips" type="IBIS-IP.int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="JourneyInformationService.RetrievePartialTripSequenceResponse" type="JourneyInformationService.RetrievePartialTripSequenceResponseStructure"/>
	<xs:complexType name="JourneyInformationService.RetrievePartialTripSequenceResponseStructure">
		<xs:choice>
			<xs:element name="PartialTripSequenceData" type="JourneyInformationService.PartialTripSequenceData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.PartialTripSequenceData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="TripSequence" type="TripSequenceStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ RetrieveSpecificBlock ++-->
	<xs:element name="JourneyInformationService.RetrieveSpecificBlockInformationRequest" type="JourneyInformationService.RetrieveSpecificBlockInformationRequestStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificBlockInformationRequestStructure">
		<xs:sequence>
			<xs:element name="BlockRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="JourneyInformationService.RetrieveSpecificBlockInformationResponse" type="JourneyInformationService.RetrieveSpecificBlockInformationResponseStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificBlockInformationResponseStructure">
		<xs:choice>
			<xs:element name="SpecificBlockInformationData" type="JourneyInformationService.DataContent"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<!--++ RetrieveSpecificStop ++-->
	<xs:element name="JourneyInformationService.RetrieveSpecificStopInformationRequest" type="JourneyInformationService.RetrieveSpecificStopInformationRequestStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificStopInformationRequestStructure">
		<xs:sequence>
			<xs:element name="StopRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="JourneyInformationService.RetrieveSpecificStopInformationResponse" type="JourneyInformationService.RetrieveSpecificStopInformationResponseStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificStopInformationResponseStructure">
		<xs:choice>
			<xs:element name="SpecificStopInformationData" type="JourneyInformationService.SpecificStopInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.SpecificStopInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="JourneyStopInformation" type="JourneyStopInformationStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ RetrieveSpecificTSPPoint ++-->
	<xs:element name="JourneyInformationService.RetrieveSpecificTSPPointInformationRequest" type="JourneyInformationService.RetrieveSpecificTSPPointInformationRequestStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificTSPPointInformationRequestStructure">
		<xs:sequence>
			<xs:element name="TSPPointRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="JourneyInformationService.RetrieveSpecificTSPPointInformationResponse" type="JourneyInformationService.RetrieveSpecificTSPPointInformationResponseStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificTSPPointInformationResponseStructure">
		<xs:choice>
			<xs:element name="SpecificTSPPointInformationData" type="JourneyInformationService.SpecificTSPPointInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.SpecificTSPPointInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="TSPPoint" type="TSPPointStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ RetrieveSpecificTimingPoint ++-->
	<xs:element name="JourneyInformationService.RetrieveSpecificTimingPointInformationRequest" type="JourneyInformationService.RetrieveSpecificTimingPointInformationRequestStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificTimingPointInformationRequestStructure">
		<xs:sequence>
			<xs:element name="TimingPointRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="JourneyInformationService.RetrieveSpecificTimingPointInformationResponse" type="JourneyInformationService.RetrieveSpecificTimingPointInformationResponseStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificTimingPointInformationResponseStructure">
		<xs:choice>
			<xs:element name="SpecificTimingPointInformationData" type="JourneyInformationService.SpecificTimingPointInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.SpecificTimingPointInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="TimingPoint" type="TimingPointStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ RetrieveSpecificGNSSPoint ++-->
	<xs:element name="JourneyInformationService.RetrieveSpecificGNSSPointInformationRequest" type="JourneyInformationService.RetrieveSpecificGNSSPointInformationRequestStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificGNSSPointInformationRequestStructure">
		<xs:sequence>
			<xs:element name="GNSSPointRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="JourneyInformationService.RetrieveSpecificGNSSPointInformationResponse" type="JourneyInformationService.RetrieveSpecificGNSSPointInformationResponseStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificGNSSPointInformationResponseStructure">
		<xs:choice>
			<xs:element name="SpecificGNSSPointInformation" type="JourneyInformationService.SpecificGNSSPointInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.SpecificGNSSPointInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="GNSSPoint" type="GNSSPointStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ RetrieveSpecificBeaconPoint ++-->
	<xs:element name="JourneyInformationService.RetrieveSpecificBeaconPointInformationRequest" type="JourneyInformationService.RetrieveSpecificBeaconPointInformationRequestStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificBeaconPointInformationRequestStructure">
		<xs:sequence>
			<xs:element name="BeaconRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="JourneyInformationService.RetrieveSpecificBeaconPointInformationResponse" type="JourneyInformationService.RetrieveSpecificBeaconPointInformationResponseStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveSpecificBeaconPointInformationResponseStructure">
		<xs:choice>
			<xs:element name="SpecificBeaconPointInformationData" type="JourneyInformationService.SpecificBeaconPointInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.SpecificBeaconPointInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="BeaconPoint" type="BeaconPointStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ ListAllDisplayContents ++-->
	<xs:element name="JourneyInformationService.ListAllDisplayContentsResponse" type="JourneyInformationService.ListAllDisplayContentsResponseStructure"/>
	<xs:complexType name="JourneyInformationService.ListAllDisplayContentsResponseStructure">
		<xs:choice>
			<xs:element name="AllDisplayContentsData" type="JourneyInformationService.AllDisplayContentsData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.AllDisplayContentsData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="DisplayContent" type="DisplayContentStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ ListAllLineInformation ++-->
	<xs:element name="JourneyInformationService.ListAllLineInformationResponse" type="JourneyInformationService.ListAllLineInformationResponseStructure"/>
	<xs:complexType name="JourneyInformationService.ListAllLineInformationResponseStructure">
		<xs:choice>
			<xs:element name="AllLineInformationData" type="JourneyInformationService.AllLineInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.AllLineInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="LineInformation" type="LineInformationStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ ListAllDestinationInformation ++-->
	<xs:element name="JourneyInformationService.ListAllDestinationInformationResponse" type="JourneyInformationService.ListAllDestinationInformationResponseStructure"/>
	<xs:complexType name="JourneyInformationService.ListAllDestinationInformationResponseStructure">
		<xs:choice>
			<xs:element name="AllDestinationInformationData" type="JourneyInformationService.AllDestinationInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.AllDestinationInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="Destination" type="DestinationStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ ListAllViaPoint ++-->
	<xs:element name="JourneyInformationService.ListAllViaPointResponse" type="JourneyInformationService.ListAllViaPointResponseStructure"/>
	<xs:complexType name="JourneyInformationService.ListAllViaPointResponseStructure">
		<xs:choice>
			<xs:element name="AllViaPointData" type="JourneyInformationService.AllViaPointData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.AllViaPointData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="ViaPoint" type="ViaPointStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ ListAllAdditionalDisplayInformation ++-->
	<xs:element name="JourneyInformationService.ListAllAdditionalDisplayInformationResponse" type="JourneyInformationService.ListAllAdditionalDisplayInformationResponseStructure"/>
	<xs:complexType name="JourneyInformationService.ListAllAdditionalDisplayInformationResponseStructure">
		<xs:choice>
			<xs:element name="AllAdditionalDisplayInformation" type="JourneyInformationService.AllAdditionalDisplayInformationData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.AllAdditionalDisplayInformationData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="AdditionalDisplayInformation" type="InternationalTextType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ ListAllRoutes ++-->
	<xs:element name="JourneyInformationService.ListAllRoutesResponse" type="JourneyInformationService.ListAllRoutesResponseStructure"/>
	<xs:complexType name="JourneyInformationService.ListAllRoutesResponseStructure">
		<xs:choice>
			<xs:element name="AllRouteData" type="JourneyInformationService.AllRoutesData"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JourneyInformationService.AllRoutesData">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="Route" type="TripInformationStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ ListAllTripsPerLine ++-->
	<xs:element name="JourneyInformationService.RetrieveAllRoutesPerLineRequest" type="JourneyInformationService.RetrieveAllRoutesPerLineRequestStructure"/>
	<xs:complexType name="JourneyInformationService.RetrieveAllRoutesPerLineRequestStructure">
		<xs:sequence>
			<xs:element name="LineRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="JourneyInformationService.RetrieveAllRoutesPerLineResponse" type="JourneyInformationService.ListAllRoutesResponseStructure"/>
	<!--++ SetBlockNumber ++-->
	<xs:element name="JourneyInformationService.SetBlockNumberRequest" type="JourneyInformationService.SetBlockNumberRequestStructure"/>
	<xs:complexType name="JourneyInformationService.SetBlockNumberRequestStructure">
		<xs:sequence>
			<xs:element name="BlockRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ SetTripRef ++-->
	<xs:element name="JourneyInformationService.SetTripRefRequest" type="JourneyInformationService.SetTripRefRequestStructure"/>
	<xs:complexType name="JourneyInformationService.SetTripRefRequestStructure">
		<xs:sequence>
			<xs:element name="TripRef" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ SetDisplayContent-->
	<xs:element name="JourneyInformationService.SetDisplayContentRequest" type="JourneyInformationService.SetDisplayContentRequestStructure"/>
	<xs:complexType name="JourneyInformationService.SetDisplayContentRequestStructure">
		<xs:sequence>
			<xs:element name="DisplayContent" type="DisplayContentStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ SetCurrentTripIndex ++-->
	<xs:element name="JourneyInformationService.SetCurrentTripIndexRequest" type="JourneyInformationService.SetCurrentTripIndexRequestStructure"/>
	<xs:complexType name="JourneyInformationService.SetCurrentTripIndexRequestStructure">
		<xs:sequence>
			<xs:element name="CurrentTripIndex" type="IBIS-IP.int"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ SetCurrentStopIndex ++-->
	<xs:element name="JourneyInformationService.SetCurrentStopIndexRequest" type="JourneyInformationService.SetCurrentStopIndexRequestStructure"/>
	<xs:complexType name="JourneyInformationService.SetCurrentStopIndexRequestStructure">
		<xs:sequence>
			<xs:element name="CurrentStopIndex" type="IBIS-IP.int"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ SetAdditionalAnnouncement ++-->
	<xs:element name="JourneyInformationService.SetAdditionalAnnouncementRequest" type="JourneyInformationService.SetAdditionalAnnouncementRequestStructure"/>
	<xs:complexType name="JourneyInformationService.SetAdditionalAnnouncementRequestStructure">
		<xs:sequence>
			<xs:element name="AdditionalAnnouncement" type="AdditionalAnnouncementStructure"/>
		</xs:sequence>
	</xs:complexType>
	<!--++ SetAdditionalTextmessage ++-->
	<xs:element name="JourneyInformationService.SetAdditionalTextMessageRequest" type="JourneyInformationService.SetAdditionalTextMessageRequestStructure"/>
	<xs:complexType name="JourneyInformationService.SetAdditionalTextMessageRequestStructure">
		<xs:sequence>
			<xs:element name="AdditionalTextMessage" type="IBIS-IP.string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
