IBIS-IP_common_V2.4.xsd

<?xml version="1.0"?>
<!-- Mit XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) von Dirk Weißer (INIT GmbH) bearbeitet -->
<!-- Mit XMLSpy v2018 rel. 2  (http://www.altova.com) von Bernd Schubert (iris-GmbH) bearbeitet, IBIS-IP 2.1 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="IBIS-IP_Enumerations_V2.2.xsd"/>
	<!--==== DataDefinitions ====-->
	<xs:complexType name="AdditionalAnnouncementStructure">
		<xs:annotation>
			<xs:documentation>Structure for decscribing the informations for an additional announcement</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AnnouncementRef" type="IBIS-IP.NMTOKEN">
				<xs:annotation>
					<xs:documentation>Reference to the Announcement in the schedule data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnnouncementText" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Text of the Announcement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnnouncementTTSText" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Text of the Announcement for a text-to-speech-system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="ImmediateInformation" type="IBIS-IP.boolean">
					<xs:annotation>
						<xs:documentation>true, if the additional annoucement should be pronounced immiditaley</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PeriodicalInformation" type="IBIS-IP.duration">
					<xs:annotation>
						<xs:documentation>period in which the addional announcement should be played </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SpecificPoint" type="SpecificPointStructure">
					<xs:annotation>
						<xs:documentation>describes a specific point, where the addional announcement should be played</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnnouncementStructure">
		<xs:annotation>
			<xs:documentation>Structure for decscribing the informations for an regular announcement</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AnnouncementRef" type="IBIS-IP.NMTOKEN">
				<xs:annotation>
					<xs:documentation>Reference to the Announcement in the schedule data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnnouncementText" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Text of the Announcement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnnouncementTTSText" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Text of the Announcement for a text-to-speech-system</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BayAreaStructure">
		<xs:annotation>
			<xs:documentation>Structure for describing an area at the stop point for detecting the right stop position</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BeforeBay" type="IBIS-IP.double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Distance before the defined Stoppoint, where the detection area begins, value in [m]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BehindBay" type="IBIS-IP.double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Distance behind the defined Stoppoint, where the detection area begins, value in [m]</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeaconPointStructure">
		<xs:annotation>
			<xs:documentation>Structure for describing a beacon point</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PointRef" type="IBIS-IP.NMTOKEN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference to the beacon point in the schedule data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeaconCode" type="IBIS-IP.NMTOKEN">
				<xs:annotation>
					<xs:documentation>Code of the beacon point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Shortname of the beaon point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desciption" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Text, which gives some additional information on the beacon point</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardApplInformations">
		<xs:sequence>
			<xs:element name="CardApplInformationLength" type="IBIS-IP.unsignedInt">
				<xs:annotation>
					<xs:documentation>Length of the bytearray of applikationdata</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardApplInformationData" type="IBIS-IP.byte" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Applikationdata from Card as Byte-Array </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardTicketData">
		<xs:sequence>
			<xs:element name="CardTicketDataID" type="IBIS-IP.unsignedLong"/>
			<xs:element name="CardTicketDataLength" type="IBIS-IP.unsignedInt">
				<xs:annotation>
					<xs:documentation>Length of the bytearray of ticketdata</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardTicketData" type="IBIS-IP.byte" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ticketdata from Card as  Byte-Array</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardType">
		<xs:sequence>
			<xs:element name="CardSerialNumber" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="CardTypeID" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="CardTypeText" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConnectionStructure">
		<xs:annotation>
			<xs:documentation>Structure for describing a connection</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StopRef" type="IBIS-IP.NMTOKEN">
				<xs:annotation>
					<xs:documentation>StopPoint, where the connection should take place (from planning system)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConnectionRef" type="IBIS-IP.NMTOKEN">
				<xs:annotation>
					<xs:documentation>StopPoint-referenced connection-reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConnectionType" type="ConnectionTypeEnumeration">
				<xs:annotation>
					<xs:documentation>Describes the kind of connection </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisplayContent" type="DisplayContentStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure for desccribing the information which is shown on a head- or sidesign</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Platform" type="IBIS-IP.string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Platform, on which the connection should take place</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConnectionState" type="ConnectionStateEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Describes the status of the connection</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMode" type="VehicleStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Describes the mode of the pick-up vehicle, DEPRECATED !, THE ConnectionMode SHOULD BE USED INSTEAD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConnectionMode" type="NetexMode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mode- and Submode information of the pick-up vehicle in accordance with Netex</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpectedDepartureTime" type="IBIS-IP.dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information, at which time the leaving vehicle will depart based on realtime information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledDepartureTime" type="IBIS-IP.dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information, at which time the leaving vehicle is planned to depart</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataVersionStructure">
		<xs:annotation>
			<xs:documentation>Structure for describing data-versions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataType" type="IBIS-IP.string">
				<xs:annotation>
					<xs:documentation>Kind of data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VersionRef" type="IBIS-IP.NMTOKEN">
				<xs:annotation>
					<xs:documentation>Versionreference of the data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataVersionListStructure">
		<xs:sequence>
			<xs:element name="DataVersion" type="DataVersionStructure" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DestinationStructure">
		<xs:annotation>
			<xs:documentation>Structure for describing destination information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DestinationRef" type="IBIS-IP.NMTOKEN">
				<xs:annotation>
					<xs:documentation>Reference to the destination-information in the schedule-data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Text of the destination</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationShortName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Shorttext of the destination if there is limited space</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceInformationStructure">
		<xs:sequence>
			<xs:group ref="DeviceInformationGroup"/>
			<xs:element name="DataVersionList" type="DataVersionListStructure" minOccurs="0"/>
			<xs:element name="WebInterfaceAddress" type="IBIS-IP.anyURI" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceSpecificationListStructure">
		<xs:sequence>
			<xs:element name="DeviceSpecification" type="DeviceSpecificationStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceSpecificationStructure">
		<xs:sequence>
			<xs:element name="DeviceClass" type="DeviceClassEnumeration"/>
			<xs:element name="DeviceID" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceSpecificationWithStateStructure">
		<xs:sequence>
			<xs:element name="DeviceSpecification" type="DeviceSpecificationStructure"/>
			<xs:element name="DeviceState" type="DeviceStateEnumeration"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceSpecificationWithStateListStructure">
		<xs:sequence>
			<xs:element name="DeviceSpecificationWithState" type="DeviceSpecificationWithStateStructure" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DisplayContentStructure">
		<xs:annotation>
			<xs:documentation>Structure for describing the information for a headsign or a sidesign</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DisplayContentRef" type="IBIS-IP.NMTOKEN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference to the display content information in the schedule data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineInformation" type="LineInformationStructure">
				<xs:annotation>
					<xs:documentation>Information on the line, which should be displayed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Destination" type="DestinationStructure">
				<xs:annotation>
					<xs:documentation>Information on the destination, which should be displayed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ViaPoint" type="ViaPointStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Information on the via points which should be displayed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional Information Text, which could be displayed, e.g. "Extra Ride", "Express", ... </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation1" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional Information Text, which is assigned project-specific</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation2" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional Information Text, which is assigned project-specific</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation3" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional Information Text, which is assigned project-specific</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation4" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional Information Text, which is assigned project-specific</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation5" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional Information Text, which is assigned project-specific</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation6" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional Information Text, which is assigned project-specific</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation7" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional Information Text, which is assigned project-specific</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation8" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional Information Text, which is assigned project-specific</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation9" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional Information Text, which is assigned project-specific</xs:documentation>
				</xs:annotation>
			</xs:element>		
			<xs:element name="RunNumber" type="IBIS-IP.int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The run number (Kurs-Nummer) the trip is operated </xs:documentation>
				</xs:annotation>
			</xs:element>								
			<xs:group ref="DisplayPolicyGroup" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Group for Display-Information if there is more than one content at the same time</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FareZoneInformationStructure">
		<xs:sequence>
			<xs:element name="FareZoneID" type="IBIS-IP.NMTOKEN">
				<xs:annotation>
					<xs:documentation>unique ID for the farezone</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FareZoneType" type="ZoneType" minOccurs="0"/>
			<xs:element name="FareZoneLongName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FareZoneShortName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GlobalCardStatus">
		<xs:sequence>
			<xs:element name="GlobalCardStausID" type="IBIS-IP.unsignedInt">
				<xs:annotation>
					<xs:documentation>code according EN 1545</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GlobalCardStatusText" type="IBIS-IP.string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>text according EN 1545</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GNSSPointStructure">
		<xs:annotation>
			<xs:documentation>Structure for describing a GNSS-Point</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PointRef" type="IBIS-IP.NMTOKEN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference to the point in schedule data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Longitude" type="GNSSCoordinateStructure"/>
			<xs:element name="Latitude" type="GNSSCoordinateStructure"/>
			<xs:element name="Altitude" type="IBIS-IP.double" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GNSSCoordinateStructure">
		<xs:annotation>
			<xs:documentation>Structure for describing a GNSS-Point</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Degree" type="IBIS-IP.double"/>
			<xs:element name="Direction" type="IBIS-IP.string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JourneyStopInformationStructure">
		<xs:sequence>
			<xs:element name="StopRef" type="IBIS-IP.NMTOKEN">
				<xs:annotation>
					<xs:documentation>Reference to the stoppoint from the planning system	</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopName" type="InternationalTextType" maxOccurs="unbounded"/>
			<xs:element name="StopAlternativeName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Platform" type="IBIS-IP.string" minOccurs="0"/>
			<xs:element name="DisplayContent" type="DisplayContentStructure" maxOccurs="unbounded"/>
			<xs:element name="Announcement" type="AnnouncementStructure" minOccurs="0"/>
			<xs:element name="ArrivalScheduled" type="IBIS-IP.dateTime" minOccurs="0"/>
			<xs:element name="DepartureScheduled" type="IBIS-IP.dateTime" minOccurs="0"/>
			<xs:element name="Connection" type="ConnectionStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Information on Connections or Interchanges; not in StopSequence because of RealTimeInformation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BayArea" type="BayAreaStructure" minOccurs="0"/>
			<xs:element name="GNSSPoint" type="GNSSPointStructure" minOccurs="0"/>
			<xs:element name="FareZone" type="IBIS-IP.NMTOKEN" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineInformationStructure">
		<xs:sequence>
			<xs:element name="LineRef" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="LineName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LineShortName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LineNumber" type="IBIS-IP.int" minOccurs="0"/>
			<xs:element name="LineCode" type="IBIS-IP.int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>identifier of a symbol number , which is used by displays see LINIEN_CODE in VDV 452 chapter 9.7.2 REC_LID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LinePublicCode" type="IBIS-IP.string" minOccurs="0" maxOccurs="1"/>			
			<xs:element name="LineSymbolText" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>			
			<xs:element name="ExternalLineRef" type="IBIS-IP.string" minOccurs="0" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LogMessageStructure">
		<xs:sequence>
			<xs:element name="MessageProvider" type="DeviceSpecificationStructure">
				<xs:annotation>
					<xs:documentation>Name of the Service or Device, which sends the message, which has to be logged</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Message" type="MessageStructure"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageStructure">
		<xs:sequence>
			<xs:element name="Message-ID" type="IBIS-IP.int"/>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime">
				<xs:annotation>
					<xs:documentation>... of the ErrorMessage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageType" type="MessageTypeEnumeration"/>
			<xs:element name="MessageText" type="IBIS-IP.string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PointSequenceStructure">
		<xs:sequence>
			<xs:element name="Point" type="PointStructure" minOccurs="2" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PointStructure">
		<xs:sequence>
			<xs:element name="PointIndex" type="IBIS-IP.int"/>
			<xs:element name="PointType" type="PointTypeStructure"/>
			<xs:element name="DistanceToPreviousPoint" type="IBIS-IP.int">
				<xs:annotation>
					<xs:documentation>aus REC-SEL bzw. REC_SEL_ZP der VDV 452</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PointTypeStructure">
		<xs:choice>
			<xs:element name="StopPoint" type="JourneyStopInformationStructure">
				<xs:annotation>
					<xs:documentation>In Analogie zu REC_ORT aus VDV 452</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeaconPoint" type="BeaconPointStructure"/>
			<xs:element name="GNSSLocationPoint" type="GNSSPointStructure">
				<xs:annotation>
					<xs:documentation>Point, where specific GNSS-Information is provided, "GNSS-Solution" for the Beacon-Points, analogue to REC_OM from VDV 452</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimingPoint" type="TimingPointStructure"/>
			<xs:element name="TSPPoint" type="TSPPointStructure">
				<xs:annotation>
					<xs:documentation>Point, where Information for TrafficSignalPriorisation is provided </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SpecificPointStructure">
		<xs:sequence>
			<xs:element name="PointRef" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="DistanceToPreviousPoint" type="IBIS-IP.double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceSpecificationStructure">
		<xs:sequence>
			<xs:element name="ServiceName" type="ServiceNameEnumeration"/>
			<xs:element name="IBIS-IP-Version" type="IBIS-IP.NMTOKEN"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceSpecificationWithStateStructure">
		<xs:sequence>
			<xs:element name="ServiceSpecification" type="ServiceSpecificationStructure"/>
			<xs:element name="ServiceState" type="ServiceStateEnumeration"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceSpecificationWithStateListStructure">
		<xs:sequence>
			<xs:element name="ServiceSpecificationWithState" type="ServiceSpecificationWithStateStructure" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceIdentificationStructure">
		<xs:sequence>
			<xs:element name="Service" type="ServiceSpecificationStructure"/>
			<xs:element name="Device" type="DeviceSpecificationStructure"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceIdentificationWithStateStructure">
		<xs:sequence>
			<xs:element name="ServiceIdentification" type="ServiceIdentificationStructure"/>
			<xs:element name="ServiceState" type="ServiceStateEnumeration"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceIdentificationWithStateListStructure">
		<xs:sequence>
			<xs:element name="ServiceIdentificationWithState" type="ServiceIdentificationWithStateStructure" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceInformationListStructure">
		<xs:sequence>
			<xs:element name="ServiceInformation" type="ServiceInformationStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceInformationStructure">
		<xs:sequence>
			<xs:element name="Service" type="ServiceSpecificationStructure"/>
			<xs:element name="Autostart" type="IBIS-IP.boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceStartStructure">
		<xs:sequence>
			<xs:element name="ServiceIdentification" type="ServiceIdentificationStructure"/>
			<xs:element name="Autostart" type="IBIS-IP.boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceStartListStructure">
		<xs:sequence>
			<xs:element name="ServiceIdentification" type="ServiceIdentificationStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShortTripStopListStructure">
		<xs:sequence>
			<xs:element name="ShortTripStop" type="ShortTripStopStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShortTripStopStructure">
		<xs:sequence>
			<xs:element name="JourneyStopInformation" type="JourneyStopInformationStructure"/>
			<xs:element name="FareZoneInformation" type="FareZoneInformationStructure"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StopInformationRequestStructure">
		<xs:sequence>
			<xs:element name="StopIndex" type="IBIS-IP.int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>StopIndex on current trip	</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopRef" type="IBIS-IP.NMTOKEN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference to the stoppoint from the planning system	</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DisplayContent" type="DisplayContentStructure" maxOccurs="unbounded"/>
			<xs:element name="StopAnnouncement" type="AnnouncementStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ArrivalScheduled" type="IBIS-IP.dateTime" minOccurs="0"/>
			<xs:element name="DepartureScheduled" type="IBIS-IP.dateTime" minOccurs="0"/>
			<xs:element name="RecordedArrivalTime" type="IBIS-IP.dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This Value is needed for the demonstration at the SSB</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DistanceToNextStop" type="IBIS-IP.int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Soll-Abstand zwischen den Haltestellen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Connection" type="ConnectionStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Information on Connections or Interchanges; not in StopSequence because of RealTimeInformation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FareZone" type="IBIS-IP.NMTOKEN" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StopInformationStructure">
		<xs:sequence>
			<xs:element name="StopIndex" type="IBIS-IP.int">
				<xs:annotation>
					<xs:documentation>StopIndex on current trip	</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopRef" type="IBIS-IP.NMTOKEN">
				<xs:annotation>
					<xs:documentation>Reference to the stoppoint from the planning system	</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopName" type="InternationalTextType" maxOccurs="unbounded"/>
			<xs:element name="StopAlternativeName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Platform" type="IBIS-IP.string" minOccurs="0"/>
			<xs:element name="DisplayContent" type="DisplayContentStructure" maxOccurs="unbounded"/>
			<xs:element name="StopAnnouncement" type="AnnouncementStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ArrivalScheduled" type="IBIS-IP.dateTime" minOccurs="0"/>
			<xs:element name="ArrivalExpected" type="IBIS-IP.dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A resolution of 30s is recommended, for the display it is recommended to show the arrival time in minutes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureScheduled" type="IBIS-IP.dateTime" minOccurs="0"/>
			<xs:element name="DepartureExpected" type="IBIS-IP.dateTime" minOccurs="0"/>
			<xs:element name="RecordedArrivalTime" type="IBIS-IP.dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This Value is needed for the demonstration at the SSB</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DistanceToNextStop" type="IBIS-IP.int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Soll-Abstand zwischen den Haltestellen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Connection" type="ConnectionStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Information on Connections or Interchanges; not in StopSequence because of RealTimeInformation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FareZone" type="IBIS-IP.NMTOKEN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="StopShortName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="StopLongNo" type="IBIS-IP.int" minOccurs="0" maxOccurs="1"/>			
			<xs:element name="PointNumber" type="IBIS-IP.int" minOccurs="0" maxOccurs="1"/>			
			<xs:element name="StopGlobalID" type="IBIS-IP.string" minOccurs="0" maxOccurs="1"/>			
			<xs:element name="StopPointGlobalID" type="IBIS-IP.string" minOccurs="0" maxOccurs="1"/>						
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StopPointTariffInformationStructure">
		<xs:sequence>
			<xs:element name="JourneyStopInformation" type="JourneyStopInformationStructure"/>
			<xs:element name="FareZoneInformation" type="FareZoneInformationStructure"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StopSequenceStructure">
		<xs:sequence>
			<xs:element name="StopPoint" type="StopInformationStructure" minOccurs="2" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimingPointStructure">
		<xs:sequence>
			<xs:element name="TimingPointRef" type="IBIS-IP.NMTOKEN" minOccurs="0"/>
			<xs:element name="ScheduleTime" type="IBIS-IP.dateTime"/>
			<xs:element name="GNSSPoint" type="GNSSPointStructure"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TripInformationStructure">
		<xs:sequence>
			<xs:element name="TripRef" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="StopSequence" type="StopSequenceStructure">
				<xs:annotation>
					<xs:documentation>List of StopPoints; with additional information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationState" type="LocationStateEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information of the location state</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimetableDelay" type="IBIS-IP.int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Delay in seconds. Early times are shown as negative values.</xs:documentation>
					<xs:documentation>
            			tbd: what happens, if this value isn't set
            		</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalTextMessage" type="InternationalTextType" minOccurs="0"/>
			<xs:element name="AdditionalTextMessage1" type="InternationalTextType" minOccurs="0"/>
			<xs:element name="AdditionalTextMessage2" type="InternationalTextType" minOccurs="0"/>
			<xs:element name="AdditionalTextMessage3" type="InternationalTextType" minOccurs="0"/>
			<xs:element name="AdditionalTextMessage4" type="InternationalTextType" minOccurs="0"/>
			<xs:element name="AdditionalTextMessage5" type="InternationalTextType" minOccurs="0"/>
			<xs:element name="AdditionalTextMessage6" type="InternationalTextType" minOccurs="0"/>
			<xs:element name="AdditionalTextMessage7" type="InternationalTextType" minOccurs="0"/>
			<xs:element name="AdditionalTextMessage8" type="InternationalTextType" minOccurs="0"/>
			<xs:element name="AdditionalTextMessage9" type="InternationalTextType" minOccurs="0"/>
			<xs:element name="AdditionalAnnouncement" type="AdditionalAnnouncementStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>not StopPointAnnouncements; additional announcements; e.g. of the operator or dispatcher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteDirection" type="RouteDirectionEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The direction of the route, 1->forward 2->backwards and  0->UNDEFINED </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RunNumber" type="IBIS-IP.int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The run number (Kurs-Nummer) the trip is operated </xs:documentation>
				</xs:annotation>
			</xs:element>						
			<xs:element name="PatternNumber" type="IBIS-IP.int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The pattern number (Linienfahrweg-Nummer) the trip is operated </xs:documentation>
				</xs:annotation>
			</xs:element>						
			<xs:element name="PathDestinationNumber" type="IBIS-IP.int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The path destination number (RoutenZiel-Nummer) the trip is operated </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BlockNumber" type="IBIS-IP.int"  minOccurs="0" maxOccurs="1"/>						
			<xs:element name="ExternalVehicleJourneyRef" type="IBIS-IP.string"  minOccurs="0" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TripSequenceStructure">
		<xs:sequence>
			<xs:element name="TripRef" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="TripIndex" type="IBIS-IP.int" minOccurs="0"/>
			<xs:element name="TripStart" type="IBIS-IP.time" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time, at which the trip is starting</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrentStopIndex" type="IBIS-IP.int" minOccurs="0"/>
			<xs:element name="JourneyMode" type="JourneyModeEnumeration" minOccurs="0"/>
			<xs:element name="PointSequence" type="PointSequenceStructure">
				<xs:annotation>
					<xs:documentation>In Analogie zu LID-Verlauf aus VDV 452</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TSPPointStructure">
		<xs:sequence>
			<xs:element name="TSPPointRef" type="IBIS-IP.NMTOKEN" minOccurs="0"/>
			<xs:element name="TSPCode" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="ShortName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Desciption" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleStructure">
		<xs:sequence>
			<xs:element name="VehicleTypeRef" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="Name" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ViaPointStructure">
		<xs:annotation>
			<xs:documentation>Structure for describing a via point on journey.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ViaPointRef" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="PlaceRef" type="IBIS-IP.NMTOKEN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The identifier of the via place in the journey; used to help identify the vehicle journey on arrival boards.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlaceName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The name of the via place in the journey; used to help identify the vehicle to the public.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlaceShortName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The short name of the via place in the journey; used to help identify the vehicle to the public.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ViaPointDisplayPriority" type="IBIS-IP.int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Value, which defines a priority to select a number of via points, if not all via points can be shown</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZoneType">
		<xs:sequence>
			<xs:element name="FarezoneTypeID" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="FareZoneTypeName" type="InternationalTextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--==== DataTypes ====-->
	<xs:complexType name="InternationalTextType">
		<xs:sequence>
			<xs:element name="Value" type="xs:string"/>
			<xs:element name="Language" type="xs:language"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DoorCountingListStructure">
		<xs:sequence>
			<xs:element name="DoorID" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="CountSet" type="DoorCountingStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DoorCountingStructure">
		<xs:sequence>
			<xs:element name="ObjectClass" type="DoorCountingObjectClassEnumeration"/>
			<xs:element name="In" type="IBIS-IP.int"/>
			<xs:element name="Out" type="IBIS-IP.int"/>
			<xs:element name="CountQuality" type="DoorCountingQualityEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DoorInformationStructure">
		<xs:sequence>
			<xs:element name="DoorID" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="Count" type="DoorCountingStructure" maxOccurs="unbounded"/>
			<xs:element name="State" type="DoorStateStructure" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DoorOpenStateStructure">
		<xs:sequence>
			<xs:element name="Value" type="DoorOpenStateEnumeration"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DoorOperationStateStructure">
		<xs:sequence>
			<xs:element name="Value" type="DoorOperationStateEnumeration"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DoorStateStructure">
		<xs:sequence>
			<xs:element name="OpenState" type="DoorOpenStateStructure"/>
			<xs:element name="OperationState" type="DoorOperationStateStructure" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--==== IBIS-IP-Types ====-->
	<xs:complexType name="DegreeType">
		<xs:sequence>
			<xs:element name="Degree" type="IBIS-IP.double"/>
			<xs:element name="Orientation" type="IBIS-IP.string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.anyURI">
		<xs:sequence>
			<xs:element name="Value" type="xs:anyURI"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.boolean">
		<xs:sequence>
			<xs:element name="Value" type="xs:boolean"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.byte">
		<xs:sequence>
			<xs:element name="Value" type="xs:byte"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.date">
		<xs:sequence>
			<xs:element name="Value" type="xs:date"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.dateTime">
		<xs:sequence>
			<xs:element name="Value" type="xs:dateTime"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.double">
		<xs:sequence>
			<xs:element name="Value" type="xs:double"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.duration">
		<xs:sequence>
			<xs:element name="Value" type="xs:duration"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.int">
		<xs:sequence>
			<xs:element name="Value" type="xs:int"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.language">
		<xs:sequence>
			<xs:element name="Value" type="xs:language"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.NMTOKEN">
		<xs:sequence>
			<xs:element name="Value" type="xs:NMTOKEN"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.nonNegativeInteger">
		<xs:sequence>
			<xs:element name="Value" type="xs:nonNegativeInteger"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.normalizedString">
		<xs:sequence>
			<xs:element name="Value" type="xs:normalizedString"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.string">
		<xs:sequence>
			<xs:element name="Value" type="xs:string"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.time">
		<xs:sequence>
			<xs:element name="Value" type="xs:time"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.unsignedInt">
		<xs:sequence>
			<xs:element name="Value" type="xs:unsignedInt"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBIS-IP.unsignedLong">
		<xs:sequence>
			<xs:element name="Value" type="xs:unsignedLong"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--==== StructureDefinitions ====-->
	<xs:element name="SubscribeRequest" type="SubscribeRequestStructure"/>
	<xs:complexType name="SubscribeRequestStructure">
		<xs:sequence>
			<xs:element name="Client-IP-Address" type="IBIS-IP.string"/>
			<xs:element name="ReplyPort" type="IBIS-IP.int" minOccurs="0"/>
			<xs:element name="ReplyPath" type="IBIS-IP.string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SubscribeResponse" type="SubscribeResponseStructure"/>
	<xs:complexType name="SubscribeResponseStructure">
		<xs:annotation>
			<xs:documentation>For compatibility reasons, this structure is now a sequence of members, all of which are optional - of course, at least one member should be included in meaningful data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Active" type="IBIS-IP.boolean" minOccurs="0"/>
			<xs:element name="Heartbeat" type="IBIS-IP.duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If the service returns a heartbeat value and it is not 0, the subscriber can expect that the service will send data at least every heartbeat seconds.	This heartbeat can be used to monitor the connection quality by the client. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UnsubscribeRequest" type="UnsubscribeRequestStructure"/>
	<xs:complexType name="UnsubscribeRequestStructure">
		<xs:sequence>
			<xs:element name="Client-IP-Address" type="IBIS-IP.string"/>
			<xs:element name="ReplyPort" type="IBIS-IP.int" minOccurs="0"/>
			<xs:element name="ReplyPath" type="IBIS-IP.string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UnsubscribeResponse" type="UnsubscribeResponseStructure"/>
	<xs:complexType name="UnsubscribeResponseStructure">
		<xs:sequence>
			<xs:element name="Active" type="IBIS-IP.boolean"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DataAcceptedResponse" type="DataAcceptedResponseStructure"/>
	<xs:complexType name="DataAcceptedResponseStructure">
		<xs:choice>
			<xs:element name="DataAcceptedResponseData" type="DataAcceptedResponseDataStructure"/>
			<xs:element name="OperationErrorMessage" type="IBIS-IP.string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DataAcceptedResponseDataStructure">
		<xs:sequence>
			<xs:element name="TimeStamp" type="IBIS-IP.dateTime"/>
			<xs:element name="DataAccepted" type="IBIS-IP.boolean"/>
			<xs:element name="ErrorCode" type="ErrorCodeEnumeration" minOccurs="0"/>
			<xs:element name="ErrorInformation" type="IBIS-IP.string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--==== GroupDefinitions ====-->
	<xs:group name="DeviceInformationGroup">
		<xs:sequence>
			<xs:element name="DeviceName" type="IBIS-IP.string"/>
			<xs:element name="Manufacturer" type="IBIS-IP.string"/>
			<xs:element name="SerialNumber" type="IBIS-IP.NMTOKEN"/>
			<xs:element name="DeviceClass" type="DeviceClassEnumeration"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="DisplayPolicyGroup">
		<xs:sequence>
			<xs:element name="Priority" type="IBIS-IP.nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Value, which allows to decide which Information is shown, if there is not enough time to show all</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PeriodDuration" type="IBIS-IP.duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If more than one Sign-Information is given, you need to know</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" type="IBIS-IP.duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time-Value, which defines the part of the Periodtime in which this Sign-Information should be shown</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="NetexMode">
		<xs:annotation>
			<xs:documentation>a combined Mode and SubMode information in accordance with Netex "netex_submode_version.xsd"</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="PtMainMode" type="PtSubModesEnumeration" minOccurs="0"/>
				<xs:element name="PrivateMainMode" type="PrivateSubModesEnumeration" minOccurs="0"/>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:group ref="PtSubmodeChoiceGroup" minOccurs="0"/>
				<xs:group ref="PrivateSubmodeChoiceGroup" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
